<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.arithmetic" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ArithmeticMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".operations.FourOperations"
            android:label="@string/title_activity_four_operations" >
        </activity>
        <activity
            android:name=".operations.sum.SumActivity"
            android:label="@string/title_activity_sum" >
        </activity>
        <activity
            android:name=".operations.subtraction.SubtractionActivity"
            android:label="@string/title_activity_subtraction" >
        </activity>
        <activity
            android:name=".operations.division.DivisionActivity"
            android:label="@string/title_activity_division" >
        </activity>
        <activity
            android:name=".operations.multiplication.MultiplicationActivity"
            android:label="@string/title_activity_multiplication" >
        </activity>
    </application>

</manifest>
